{"a chingadazos" "A chingadazos : Someter con violencia."
 "a huevo" "A huevo : Por la fuerza. Acción obligada."
 "a vergazos" "A vergazos : Lograr o convencer a alguien mediante golpes repetitivos. Sometimiento."
 "aflojo" "Aflojó : Cedió, concedió, dio de sí."
 "ah, chinga" "¿Ah, chinga? : Expresión en forma de pregunta para reafirmar un suceso o información. ¿A poco? ¿De verdad?"
 "al chilazo" "Al Chilazo : Hecho sin cuidado."
 "al chile" "Al Chile : Hablar con la verdad."
 "atorar" "Atorar : Perjudicar."
 "ay no mames" "¡Ay no mames! : No molestes. No te creo."
 "cagante" "Cagante : Persona o situación que incomoda, detestable."
 "chafa" "Chafa : De mala calidad."
 "chale" "Chale : Expresión para denotar decepción sobre algo."
 "chile" "Chile : Nombre que recibe el miembro sexual del hombre."
 "chingadera" "Chingadera : Se aplica cuando se describe una traición, Ej. Me hizo una chingadera o sea, me traicionó. Pero también se llama `chingaderas` a las cosas de mala calidad o simplemente se usa para referirse a un objeto."
 "chingaderita" "Chingaderita : Algo pequeñito."
 "chingalamala" "Chingalamala : Al igual que el chingaquedito, chinga constantemente, pero abiertamente y sin miramientos."
 "chingaquedito" "Chingaquedito : El que molesta o busca sacar ventaja todo el tiempo, pero sutilmente."
 "chingar" "Chingar - Robar, o ganar. Ej. Ya chingó, significa `ya ganó`. Me lo chingué, significa `Me lo robé`."
 "chingarse" "Chingarse : Cuando algo se rompe o se descompone. Alguien se chinga cuando trabaja duro para lograr algo."
 "chingo" "Chingo : Una gran cantidad de algo."
 "chingo a mi madre si no" "Chingo a mi madre si no : ¡Créeme! Promesa."
 "chingo a su madre si no" "Chingo a su madre si no : Amenaza."
 "chingó a su madre" "Chingó a su madre : Desperfecto ocasionado. Pérdida de alguien conocido. Fallecimiento de alguien."
 "chingón" "Chingón : El que es un as. Aquel que sobresale."
 "chingonería" "Chingonería : Lo contrario de chingadera es chingonería: algo extraordinario o excelente. Ej. El trabajo que hizo el carpintero, es una chingonería."
 "chingononón" "Chingononón : Superlativo de chingo. También usado para describir a alguien sobresaliente."
 "chinguero" "Chinguero : Es lo mismo que un chingo de cosas. Muchas cosas. Una cantidad muy grande de algo."
 "cómo esta el pedo" "¿Cómo está el pedo? : Solicitud de explicación. Indagación de los acontecimientos."
 "culero" "Culero : Aquel de malos sentimientos. Se dice de una persona mezquina."
 "culo" "Culo : Se usa para mencionar el trasero, generalmente de la mujer."
 "de huevos" "De Huevos : Imperante. Espontáneo."
 "de hueva" "De Hueva : Sin interés."
 "de la verga" "De la Verga : Pésimo, insatisfactorio."
 "echale huevos" "Échale Huevos : Manifiesta mayor interés. Ponle ganas."
 "emputado" "Emputado : Iracundo. Muy enojado. Más que encabronado."
 "encabronado" "Encabronado : Muy molesto. Enojado."
 "enchilado" "Enchilado : Molesto."
 "esta cabrón" "Está cabrón : Denota admiración por otro. Reconocimiento a su grandeza. También significa `está difícil`."
 "esta pinche" "Está pinche : Carente de calidad."
 "fregón" "Fregón : Equivalente a chingón, capaz, triunfador."
 "guey" "Güey : Equivalente a `pendejo`, dejado, débil de carácter. Vulnerable ante la vida."
 "güey" "Güey : Equivalente a `pendejo`, dejado, débil de carácter. Vulnerable ante la vida."
 "wey" "Güey : Equivalente a `pendejo`, dejado, débil de carácter. Vulnerable ante la vida."
 "hacer una chingadera" "Hacer una chingadera : Traicionar; hacer algo a una persona sólo por molestar; actuar de mala fe contra alguien."
 "hasta la madre" "¡Hasta la madre! : Expresión que denota saciedad. Hartazgo."
 "huevon" "Huevón : Flojo, holgazán, haragán, perezoso."
 "jetear" "Jetear : Conciliar el sueño. Acto de dormir."
 "jeta" "Jeta : Gesticulación facial que denota enfado, molestia. Mueca."
 "jodido" "Jodido : Carente de recursos. Dícese del proletario históricamente abusado."
 "ley de herodes, o te chingas o te jodes" "Ley de Herodes, o te chingas o te jodes : Expresión popular que indica una situación por la que hay que pasar inevitablemente."
 "ley de herodes" "Ley de Herodes, o te chingas o te jodes : Expresión popular que indica una situación por la que hay que pasar inevitablemente."
 "ley gringa, el que se apendeja, se chinga" "Ley gringa, el que se apendeja, se chinga : Expresión popular que indica advertencia para no distraerse."
 "o te chingas o te jodes" "Ley de Herodes, o te chingas o te jodes : Expresión popular que indica una situación por la que hay que pasar inevitablemente."
 "madrazo" "Madrazo : Impacto violento."
 "madriza" "Madriza : Lesiones. Le propinaron una madriza, lo golpearon mucho."
 "mamon" "Mamón : Persona con aires de grandeza y poder."
 "me cague" "Me cagué : Usada para expresar susto."
 "me castra" "Me castra : Denota molestia."
 "me corto un huevo" "Me corto un huevo : Promesa, equivalente a `lo juro`."
 "me dio culo" "Me dio culo : Miedo, temor."
 "me lleva la chingada" "¡Me lleva la chingada! : Es la expresión de enojo o furia por algo que no salió bien."
 "me sacó un pedo" "Me sacó un pedo : Susto sorpresivo."
 "mis huevos" "¡Mis Huevos! : Negación, incredulidad."
 "muy chingon, no" "¿Muy chingón, no? : Cuestiona el intelecto o los actos de otro."
 "no chingues" "¡No Chingues! : Protesta."
 "no mames" "¡No mames! : Denota incredulidad, asombro ante la magnitud de un hecho. También es una sugerencia de no rebasar el límite."
 "pa mearlo" "Pa`mearlo : De aspecto desagradable."
 "palo" "Palo : Acto sexual."
 "pedero" "Pedero : Persona agresiva, conflictiva. Sujeto mentiroso."
 "pedote" "Pedote : Problema mayúsculo, fuera de control."
 "pendejear" "Pendejear : Equivalente a `andas en la luna`. Distraerse, divagar, hablar cosas sin sentido."
 "pendejo" "Pendejo : Carente de inteligencia. Insulto."
 "pito" "Pito : Nombre común que se da al pene. Ver chile."
 "pura mierda" "Pura mierda : Basura."
 "puta madre" "¡Puta madre! : Expresión de descontento."
 "puta" "Puta : Mujer de cascos ligeros."
 "puto" "Puto : Hombre falto de virilidad. Cobarde."
 "putiza" "Putiza : Véase Madriza."
 "que hueva" "Que hueva : Expresión que denota falta de interés, cansancio."
 "que huevos" "Que huevos : Califica los ímpetus imponentes de otro."
 "que onda ka" "¿Qué onda KA? : KA es diminutivo de cabrón, que en la oración equivale a un saludo fraternal."
 "que peda" "¡Que peda! : Expresión que denota asombro a la mañana siguiente de la reunión."
 "que pedo" "¿Qué pedo? : Reto al adversario. Cuestionamiento incrédulo."
 "que poca madre" "¡Que poca madre! : Decepción."
 "sancho" "Sancho : Aquel que se divierte mientras el marido trabaja."
 "se lo cargó la chingada" "Se lo cargó la chingada : Se murió, lo mataron, fue víctima de una tragedia o salió mal librado de un aprieto."
 "son mamadas" "Son mamadas : Repulsión a ciertos actos."
 "te armaron un pancho" "Te armaron un pancho : Equivalente a `te armaron un escándalo`."
}
